<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>MobileFilter</filter-name>
        <filter-class>filtre.MobFiltre</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MobileFilter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
    </filter-mapping>
    
    <filter>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>
        <init-param>
            <param-name>thresholdSize</param-name>
            <param-value>51200</param-value>
        </init-param>
        <init-param>
            <param-name>uploadDirectory</param-name>
            <param-value>/home/runsense/sentier</param-value>
        </init-param>
    </filter>	
    <filter-mapping>
        <filter-name>PrimeFaces FileUpload Filter</filter-name>
        <servlet-name>Faces Servlet</servlet-name>
        
    </filter-mapping>


    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>#{rchBean.theme}</param-value>
    </context-param>
    <context-param>	
        <param-name>primefaces.SUBMIT</param-name>
        <param-value>partial</param-value>
    </context-param>
    <context-param>	
        <param-name>primefaces.mobile.THEME</param-name>	
        <param-value>none</param-value>
    </context-param>

    <!--<context-param>
    <param-name>runsense.plateformeweb.ressource.CDNResourceHandler</param-name>
    <param-value>primefaces:jquery/jquery.js=http://runsense.re/resources/jquery-ui-1.10.3.custom.js</param-value>
    </context-param>-->
    
    <context-param>
        <param-name>javax.faces.CONFIG_FILES</param-name>
        <param-value>/WEB-INF/faces-config.xml</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.re</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>run.re</welcome-file>
    </welcome-file-list>

    <env-entry>
        <env-entry-name>solr/home</env-entry-name>
        <env-entry-value>C:/solr</env-entry-value>
      <!--  <env-entry-type>java.lang.String</env-entry-type>-->
    </env-entry>
    
</web-app>
